body {
    font-family: "opendyslexicmono";
    font-size: 15px;
    text-align: center;
    color: white;
    text-align: center;
    background-color: rgba(0, 159, 255, 0.78);
}

.title {
    font-size: 30px;
}

nav {
    font-family: "opendyslexicmono";
    font-size: 15px;
    text-align: center;
    color: white;
    border: white 1px solid;
}

p {
    font-family: "opendyslexicmono";
    display: inline-block;
    text-align: center;
}

table {
    border: 1px solid black;
    text-align: center;
    color: white;
    font-family: "opendyslexicmono";
    font-size: 15px;
}

td {
    border-top: 1px solid black;
}

div {
    text-align: center;
    color: white;
    font-family: "opendyslexicmono";
    font-size: 15px;
}

a {
    text-align: center;
    color: white;
    font-family: "opendyslexicmono";
    font-size: 15px;
}

h1 {
    font-family: "opendyslexicmono";
    font-size: 15px;
    text-align: center;
    color: white;
    font-size: 25px;
}

th {
    font-style: oblique;
    color: black;
}

hr {
    border: white 1px solid;
}
