<!DOCTYPE html>
<html>
<head>
  <title>EDINBURGH VS FOOD</title>
  <link rel = "stylesheet", type = "text/css", href = "/style/style.css"/>
 <link rel="icon" href="/images/edinburgh.png" />
</head>
<body>
<div>
  <nav>
    <ul>
    <li>
    <a href="/">HOME </a></li>
      <li>
        <a href="/challenges">ALL CHALLENGES </a>
      </li>
      <li>
      <a href="/restaurants">ALL RESTAURANTS </a>
      </li>
      <li>
        <a href="/challenges/new">ADD CHALLENGES </a>
      </li>
    </ul>
  </nav>
  </div>
  <%= yield %>
  
</body>
</html>