<!DOCTYPE html>
<html>
<head>
  <title>Tony vs food</title>
  
 
</head>
<body>
  <nav>
    <ul>
    <li>
    <a href="/">Home </a></li>
      <li>
        <a href="/challenges">All challenges </a>
      </li>
      <li>
      <a href="/restaurants">All restaurants </a>
      </li>
    </ul>
    
  </nav>
  <%= yield %>
</body>
</html>