<!DOCTYPE html>
<html>

<head>
  <title>EDINBURGH VS FOOD</title>
  <link rel = "stylesheet", type = "text/css", href = "/style/style.css"/>
  <link rel="icon" href="/images/background1.png" />
</head>

<body>
  <nav>
    <a href="/">HOME</a></li>

    <br>

    <a href="/challenges">ALL CHALLENGES</a>

    <br>

    <a href="/restaurants">ALL RESTAURANTS</a>

    <br>

    <a href="/challenges/new">ADD CHALLENGE</a>

    <br>

    <a href="/restaurants/new">ADD RESTAURANT</a>
  </nav>
  <%= yield %>
</body>
</html>