<!DOCTYPE html>
<html>
<head>
  <title>challenges</title>
 
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/challenge">All challenges </a>
      </li>
    </ul>
    
  </nav>
  <%= yield %>
</body>
</html>