  <!DOCTYPE html>
  <html>

  <head>
    <meta http-equiv="refresh" content="3;url=http://localhost:4567/challenges" />
  </head>

  <body>
    <p>YOUR CHALLENGE WAS ADDED!</p>
    <p>THANK YOU FOR YOUR SUBMISSION</p>
    
    <div>    
      <video width="320" height="240" autoplay>
        <source src="/videos/createfood.mp4" type="video/mp4"></video>
        </div>
      </body>
      
      </html>