<h1>Challenges</h1>

<form action="/challenges" method="post" >
  
  <label>
    name:
    <input type="text" name="name"/>
  </label>
  <label>
    Restaurant: 
    <select class = "restaurant_select" name = "restaurant_id">
    <option selected disabled> Select </option><% for restaurant in @restaurants%> <option value = "<%= restaurant.id %>" > <%= restaurant.name %> </option>
    <% end %>
     </select>
   </label>

  <label>
    info:
    <input type="text" name="info"/>
  </label>

  <label>
    deal:
    <select name="deal">
    <option value="Eat for free">Eat for free</option>
    <option value="free tshirt">free tshirt</option>
    <option value="picture on hall of fame">picture on hall of fame</option>
    <option value="free dessert">free dessert</option>

    </select>
  </label>
  
  <label>
    day:
    <select name="day">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
   <option value="Friday">Friday</option>
   <option value="Saturday">Saturday</option>
   <option value="Sunday">Sunday</option>
    </select>
  </label>

  <label>
    food_type:
    <select name="food_type">
    <option value="Burger">Burger</option>
    <option value="Wings">Wings</option>
    <option value="Curry">Curry</option>
    <option value="Pizza">Pizza</option>
   
    </select>
  </label>




  <input type="submit" value="Update challenges"/>
</form>





