<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="3;url=http://localhost:4567/restaurants" />
</head>
<body>
  <p>Your restaurant was added!</p>
  <p>Thank you for your submission</p>

  <div>
    
    <video width="320" height="240" autoplay muted>
      <source src="/videos/createrestaurant.mp4" type="video/mp4"></video></div>

      </body>
      </html>