<h1>RESTAURANT</h1>

<form action="/restaurants" method="post" >

  <label>
    NAME:
    <input type="text" name="name"/>
  </label>

  <label>
    LOCATION:
    <input type="text" name="location"/>
  </label>

  <label>
    WEBSITE:
    <input type="text" name="website"/>
  </label>
  
  <label>
    DIRECTIONS:
    <input type="text" name="directions"/>
  </label>

  <label>
    NUMBER:
    <input type="text" name="number"/>
  </label>

  <br>
  <br>

  <input type="submit" value="BUILD RESTAURANT"/>
</form>





