<h1>Restaurant</h1>

<form action="/restaurants" method="post" >
  
  <label>
    name:
    <input type="text" name="name"/>
  </label>

  <label>
    location:
    <input type="text" name="location"/>
  </label>

  <label>
      website:
      <input type="text" name="website"/>
    </label>
  
  <label>
      directions:
      <input type="text" name="directions"/>
    </label>

  <label>
      number:
      <input type="text" name="number"/>
    </label>




  <input type="submit" value="Update restaurants"/>
</form>





